<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>카테고리 추가</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" >
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/}" href="#">admin-home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" th:href="@{/logout}" href="#">logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <form th:action="@{/templates/coupon/add}" method="post">
<!--                <input type="hidden" name="id"  th:value="*{id}">-->
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" class="form-control" required th:value="${name}" name="name" id="name"  placeholder="Enter name">
                </div>

                <div class="form-group">
                    <label for="coupon">종류를 선택하세요</label>
                    <select class="form-control" id="coupon" name="coupon">
                        <!--                            <option th:each="category :${categories}" th:text="${category.name}"-->
                        <!--                                    th:value="${category.id}" id="categoryName">-->
                        <option th:value="PRODUCT">상품가격 할인</option>
                        <option th:value="DELIVERY">배달가격 할인</option>
                    </select>
                </div>
            </form>
            <button id="btn-save" class="btn btn-primary">Submit</button>
        </div>
    </div>
</div>

<script src="/js/coupon.js"></script>
</body>
</html>